table > thead > tr > th {
	text-transform: capitalize;
}
div.lanlist {
	display: flex;
}
div.lanlistentry:hover {
	background-color: lightblue;
}

table.herostats,th,td {
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
}

tr:hover {
	background-color: #e5e5e5 !important;
}

.sort-icon {
	font-size: 8pt;
	margin-left: 4px;
	display: inline-block;
	width: 14px;
}
