ul.lanlist {
	list-style-type: none;
	padding-left: 15px
}

div.lanlist {
	display: flex;
}
div.lanlistentry:hover {
	background-color: lightblue;
}

table.herostats,th,td {
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
}

td {
	min-width: 100px;
}

tr:nth-child(odd) {background-color: #f5f5f5;}

tr:hover {
	background-color: #e5e5e5;
}
